body {
  display: grid;
  margin: 0;
  /* grid-template-rows: repeat(13, 1fr); */
  grid-template-rows: 0, 0, 0, repeat(9, 1fr), 0;
  background: rgb(255, 255, 255);
  font-family: Arial, Helvetica, sans-serif;
  /* background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,247,211,1) 90%); */
}
body::-webkit-scrollbar {
  display: none;
  overflow: -moz-scrollbars-none;
}
.waiting {
  width: 100%;
  height: 100%;
  cursor: wait;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

header {
  grid-row: 1/3;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

footer {
  grid-row: 13/14;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

main {
  grid-row: 3/13;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(6, 1fr);
}

@media screen and (max-width: 700px) {
  main {
    grid-template-columns: repeat(6, 1fr);
  }
}

@media screen and (orientation: portrait) {
  main {
    grid-template-rows: repeat(8, 1fr);
  }
}

.smallTitle {
  grid-column: 1;
  grid-row: 1;
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  object-fit: contain;
}
.smallTitle:hover {
  opacity: 0.7;
  cursor: pointer;
}
.mainTitle {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
}

.hidden {
  opacity: 0;
}

.main-nav {
  grid-row: 2 / end;
  grid-column: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.secondary-nav {
  grid-row: 1;
  grid-column: 2 / end;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  border: solid black 3px;
  grid-row: 2 / end;
  grid-column: 2 / end;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin: 10px;
  padding: 5% 5%;
  background-color: white;
  overflow: scroll;
  overflow-x: hidden;
  font-size: 20px;
}

.container::-webkit-scrollbar {
  width: 0.5em;
}

.container::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.container::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

.container img {
  border-radius: 10px;
}

.fullSize {
  max-width: 100%;
  max-height: 100%;
}

.round-btn {
  border-radius: 100%;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: width 2s, hebackgroundight 2s, margin 2s;
}

.button:hover {
  cursor: pointer;
}

.button[tooltip]:hover::after {
  text-align: center;
  text-anchor: middle;
  content: attr(tooltip);
  margin-top: 5px;
  font-style: italic;
}

.button img {
  width: 100%;
  height: 100%;
  border: solid black 3px;
  transition: border-width 2s;
  border-radius: inherit;
  box-shadow: 3px 3px black;
}

.rollBtn {
  margin: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  opacity: 0.2;
  outline: none;
  display: block;
}

.rollBtn:hover {
  opacity: 0.3;
}

.rollBtn:active {
  opacity: 0.5;
}

.rollBtn img {
  border: none;
}

.flying::after {
  content: "";
  margin-top: 20%;
}

.pink {
  color: pink;
}

.blue {
  color: blue;
}

a {
  color: black;
}
a:hover {
  opacity: 0.5;
}

.uploadPreview.uploadPreview {
  max-width: 300px;
  max-height: 300px;
}

.tabName {
  align-self: flex-start;
  border-bottom: darkgray solid 1px;
  margin-bottom: 10px;
  font-weight: bold;
}

.level-1 {
  font-size: 1.5em;
  width: 80%;
}

.level-2 {
  font-size: 1.3em;
  width: 50%;
  margin-left: 3%;
}

.level-3 {
  font-size: 1.1em;
  width: auto;
  margin-left: 5%;
}

.tab {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
}

.tabDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: stretch;
  height: auto;
  margin-bottom: 30px;

  /* background-color: blue;
    height: 200px; */
}
.tabDiv p {
  width: 100%;
}

.textContent {
  flex-grow: 3;
  width: 60%;
  line-height: 170%;

  /* height: 100%;
    background-color: red; */
}
.textContent ol {
  font-size: 0.7em;
  line-height: 100%;
}

.imgContent {
  height: inherit;
  width: 40%;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin: 30px auto 30px 30px;
  flex-shrink: 1;

  /* height: 100%;
    background-color: green; */
}

.tabImage {
  max-width: 100%;
}

.tabImage:hover {
  opacity: 0.5;
  cursor: zoom-in;
}

.n_img1 {
  max-height: 100%;
}

.n_img2 {
  max-height: 50%;
}


.horizontalContent .tabDiv {
  flex-direction: column;
}

.horizontalContent .textContent {
  width: 100%;
}

.horizontalContent .imgContent {
  width: 100%;
  height: auto;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 30px 0px;
}

.horizontalContent .tabImage {
  max-height: none;
  max-width: 40%;
  margin : 0 5%;
}

.horizontalContent .n_img3 {
  max-width: 30%;
}


@media screen and (max-aspect-ratio: 4/3) {
  .tabDiv {
    flex-direction: column;
  }

  .textContent {
    width: 100%;
  }

  .imgContent {
    width: 100%;
    height: auto;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 30px 0;
  }

  .tabImage {
    max-height: none;
    max-width: 50%;
  }

  .n_img3 {
    max-width: 30%;
  }
}

.table {
  line-height: initial;
  max-width: 100%;
  width: fit-content;
  margin: 2px 0;
  background-color: lavender;
  padding: 5px;
  overflow-x: auto;
}
thead {
  font-size: 0.8em;
}
tbody {
  font-size: 0.5em;
  word-break: break-all;
}
.code-block {
  font-size: 0.7em;
  margin: 10px 5%;
  line-height: initial;
  background-color: rgba(0, 0, 0, 0.8);
  color: whitesmoke;
  padding: 1em;
  overflow-x: auto;
}

#drop_zone {
  border: 5px solid blue;
  width: 200px;
  height: 100px;
}

/*.box__dragndrop,*/
/*.box__uploading,
.box__success,
.box__error {
  display: none;
}

.box.has-advanced-upload {
  background-color: blue;
  outline: 2px dashed black;
  outline-offset: -10px;
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.box.is-dragover {
  background-color: grey;
}*/

#dropper {
  width: 40%;
  height: auto;
  background-color: #bdc3c7;
  border-radius: 10px;
  border: 2px dashed black;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* transition: all 200ms linear; */
}

#dropper.dragover {
    background-color: #8cadc4;
}

#dropper .label__dragndrop:hover {
  cursor: pointer;
}

.box{
    align-self: flex-start;
}

#file-preview {
    max-width: 50%;
    margin : 10px;
    height: auto;
}

.box__file {
  display: none;
}

.box__button {
  display: block;
  padding: 5px;
  margin: auto;
  background-color: #ecf0f1;
  border-radius: 5px;
  border: 1px solid black;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 1px 3px black;
  outline: none;
}
.box__button:hover{
    background-color: #d3d8da;
}
.box__button:active {
  box-shadow: none;
  background-color: #aaaeaf;
}

#text__dragndrop {
  display: block;
  margin: 5%;
  margin-bottom: 0%;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  align-items: center;
  justify-content: center;
}

.modal-img-container {
  position: relative;
  margin : 30px 0 30px 60px;
  width : fit-content;
  height: fit-content;
  max-width: 60%;
  max-height: 90%;
  overflow-y: auto;
}
.modal-img-container::-webkit-scrollbar{
  height : 100%;
  width : -10px;
  background-color: transparent;
}
.modal-img-container::-webkit-scrollbar-thumb {
  background: white;
  border: solid black 1px;

}
#modalImage {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
#modalImage:hover {
  cursor: zoom-out;
}

#modalZoom {
  flex-grow: 0;
  width: 300px;
  margin:5%;
  height:300px;
  border : solid black 2px
}

#modal-zoom_lens {
  position: absolute;
  border: 2px solid #817f7f;
  width: 40px;
  height: 40px;
}
/* je rajoute ici*/

#left {
  position: relative;
  float: left;
  font-size: small;
  line-height: 70%;
  margin-left: 0px;
  size: 20%;
  overflow-x: 0;
}
#right {
  float: left;
  font-size: small;
  line-height: 70%;
  margin-left: 20px;
  size: 20%;
}
#right_right {
  font-size: small;
  line-height: 70%;
  margin-top: 10px;
  size: 40%;
}
#center {
  float: left;
  font-size: small;
  line-height: 70%;
  margin-left: 20px;
  size: 20%;
}

#see {
  margin-top: 10px;
  margin-bottom: 10px;
}

.canvas {
  overflow: scroll;
}

.ylabel {
  font-size: x-small;
}
